alias whatsmyip="ipconfig getifaddr en0"
alias httpserver="python3 -m http.server"
alias editdotfiles="cd $HOME/.dotfiles && code ."
alias reloadzsh="echo 'reloading zsh ...' && source $HOME/.zshrc && echo 'done'"

# hedia services
alias developers-service="cd ~/hedia/services/developers-service && npm install && open http://localhost:6869 && npm run dev"
alias id-service="cd ~/hedia/services/id-service && npm install && open http://localhost:7368 && npm run dev"
alias oauth2-service="cd ~/hedia/services/oauth2-service && npm install && npm run dev"
alias hedia-server="cd ~/hedia/services/hedia-server && npm install && npm run dev"

# hedia modules
alias windfall="cd ~/hedia/modules/windfall && npm install && open http://localhost:8080 && npm run dev"
